@import "tailwindcss";

@layer base {
  body {
    @apply antialiased text-gray-900 bg-gray-50;
  }
}

/* Leaflet map container fix */
.leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 10;
}